.appInput {
  height: 24px;

  input {
    outline: none;
    color: var(--primary-color);

    &::placeholder {
      color: var(--primary-lighted-color);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: var(--font-family-secondary);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }
  }

  .appInputField {
    display: grid;
    align-items: center;
  }

  &.underlined {
    height: auto;

    .appInputField {
      width: 100%;
      height: 52px;
      box-sizing: border-box;
      border-bottom: 1px solid var(--border-color);
    }
  }

  &.outlined {
    height: auto;

    .appInputField {
      width: 100%;
      height: 52px;
      padding: 0 16px;
      box-sizing: border-box;
      border-radius: 6px;
      border: 1px solid var(--border-color);
      background: var(--bg-color);
    }
  }

  &.disabled {
    &.underlined {
      .appInputField {
        border-bottom: 1px solid var(--bg-color-hovered);
        background: var(--secondary-bg-color);
      }
    }

    &.outlined {
      .appInputField {
        border: 1px solid var(--bg-color-hovered);
        background: var(--secondary-bg-color);
      }
    }
  }

  .errorWrapper {
    height: 32px;
    padding: 4px;
    box-sizing: border-box;
  }
}
