@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

@font-face {
  font-family: SpaceGrotesk;
  src: local('SpaceGrotesk'), url("../../shared/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  src: local('Inter'), url("../../shared/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.theme {
    min-height: auto;
  }

  & > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > div {
      flex-grow: 1;
    }
  }
}
