.articleDetails {
  width: 100%;
  max-width: 1108px;
  margin: 0 auto;
  flex-grow: 1;
  padding: 72px 56px 152px;
}

.contentCentered {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.categoriesList {
  margin-bottom: 8px;
  display: flex;
  gap: 24px;

  // font
  color: var(--text-third-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--font-family-secondary);
  font-size: 18px;
  line-height: 30px;
}

.titleWrapper {
  margin-bottom: 16px;

  // font
  color: var(--primary-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--font-family-main);
  font-size: 54px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
}

.paramsWrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.bannerWrapper {
  margin-bottom: 56px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.codeBlock {
  margin-bottom: 16px;
}

.imageBlock {
  margin-top: 8px;
  margin-bottom: 24px;
}

.paragraphBlock {
  margin-bottom: 16px;
}

.titleBlock {
  margin-top: 16px;
  margin-bottom: 24px;
}

