.appDropdownSimple {
  position: relative;

  .appDropdownSimpleList {
    display: none;
    position: absolute;
    top: 68px;
    left: 0;

    background: var(--secondary-bg-color);

    // TODO: use theme color
    box-shadow: 0 8px 16px 0 var(--box-shadow-color);
  }

  &:hover {
    .appDropdownSimpleList {
      display: block;
    }
  }
}

.appDropdownSimpleSelectedItemWrapper {
  height: 68px;
  display: flex;
  align-items: center;

  &:hover .appDropdownSimpleSelectedItem {
    border-bottom: 1px solid var(--primary-color);
  }
}

.appDropdownSimpleSelectedItem {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-left: 2px;
}
