.footer {
  padding: 72px 52px 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 72px;
  background-color: var(--secondary-bg-color);
}

.footerContent {
  display: flex;
  justify-content: space-between;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid var(--horizontal-line-color);
}

.footerCopyrightText {
  color: var(--text-second-color);
  font: var(--font-secondary-m);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footerBottomSelectors {
  display: flex;
  align-items: center;

  .languageSelectorMargin {
    margin-right: 32px;
  }
}



