.appDropdownSearch {
  position: absolute;
  top: 68px;
  left: 0;
  width: 255px;
  padding: 8px 16px;
  background: var(--secondary-bg-color);
  box-shadow: 0 8px 16px 0 var(--box-shadow-color);
}

.appDropdownSearchTitle {
  color: var(--primary-lighted-color);
  font: var(--font-family-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;

}

.appDropdownSearchList {
  color: var(--primary-color);
  font: var(--font-family-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
