.themeSwitcher {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}

.moonIcon, .sunIcon {
  fill: var(--primary-color);
}

.moonIcon {
  transform: scale(20 / 24);
}

.sunIcon {
  transform: scale(24 / 24);
}
