.app_dark_theme {
  --bg-color: #2c3348;
  --bg-color-hovered: #505d81;
  --secondary-bg-color: #404a69;
  --primary-color: #fff;
  --inverted-primary-color: #121212;
  --primary-lighted-color: #c4c4c4;
  --secondary-color: #121212;
  --box-shadow-color: rgb(255 255 255 / 4%);
  --text-second-color: #dfdfef;
  --text-third-color: #dedeec;
  --horizontal-line-color: #a5accb;
  --error-text-color: #ea6e6e;
  --border-color: #CBCBCB;
  --input-placeholder-color: #A7A7A7;
}
