.app.dark {
  --bg-color: #2c3348;
  --bg-color-hovered: #505d81;
  --secondary-bg-color: #404a69;

  --primary-color: #fff;
  --primary-lighted-color: #c4c4c4;
  --secondary-color: #121212;

  --box-shadow-color: rgba(255, 255, 255, 0.04);

  --text-second-color: #dfdfef;
  --text-third-color: #dedeec;

  --horizontal-line-color: #a5accb;
}
