.app.dark {
  --bg-color: #2c3348;
  --bg-color-hovered: #505d81;

  --primary-color: #fff;
  --primary-color-filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(136deg) brightness(102%) contrast(104%);
  --secondary-color: #121212;
  --secondary-color-filter: invert(0%) sepia(7%) saturate(4322%) hue-rotate(30deg) brightness(99%) contrast(86%);
}
