:root {
  --bg-color: #fff;
  --bg-color-hovered: #eaeaf1;
  --secondary-bg-color: #FAFAFB;
  --primary-color: #121212;
  --inverted-primary-color: #fff;
  --primary-lighted-color: #807E7E;
  --secondary-color: #fff;
  --box-shadow-color: rgb(18 18 18 / 4%);
  --text-second-color: #3E3E59;
  --text-third-color: #605F5F;
  --horizontal-line-color: #CBCBCB;
  --error-text-color: #ec3a3a;
  --border-color: #CBCBCB;
  --input-placeholder-color: #A7A7A7;
}
