.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.navbarNav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  li:not(:last-child) {
    margin-right: 40px;
  }
}

.navbarDropdownItem {
  width: 228px;
  height: 48px;
  padding: 12px 16px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;

  &:hover {
    background-color: var(--bg-color-hovered);
  }
}
