.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 52px;
}

.container {
  width: 100%;
  max-width: 1336px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.navbarNav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  .navbarItem {
    display: flex;
    align-items: center;
  }

  .navbarItemLink {
    color: var(--primary-color);
    transition: color 0.3s;

    &:hover {
      color: var(--text-third-color);
      transition: color 0.3s;
    }
  }


  & > li:not(:last-child) {
    margin-right: 40px;
  }
}

.navbarDropdownItem {
  width: 228px;
  height: 48px;
  padding: 12px 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;

  &:hover {
    background-color: var(--bg-color-hovered);
  }
}

.navbarActionButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > div {
    margin-left: 20px;
  }
}
