// .languageSelector {}

.languageItem {
  display: flex;
  align-items: center;

  .emoji {
    margin-right: 8px;
  }

  .name {
    color: var(--primary-color);
    font: var(--font-m);
    font-size: 14px;
    font-weight: 500;
  }
}
