.footerNavLink {
  color: var(--text-second-color);
  font: var(--font-family-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  &:hover {
    color: var(--text-third-color);
  }
}
