.appModal {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  color: var(--primary-color);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: var(--modal-max-width);
  padding: var(--modal-padding);
  border-radius: var(--modal-border-radius);
  background-color: var(--secondary-bg-color);

  // animation
  transform: scale(0.5);
  transition: 0.3s transform;
}

.opened {
  opacity: 1;
  transition: 0.3s opacity;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content{
    transform: scale(1);
    transition: 0.3s transform;
  }
}

.closing {
  opacity: 0;
  transition: 0.3s opacity;

  .content{
    transform: scale(0.5);
    transition: 0.3s transform;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h3 {
    color: var(--primary-color);
    font-family: var(--font-family-main);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
  }

  .closeIcon {
    fill: var(--primary-color);
  }
}
